In [72]:
# df['email'] = np.where(~df['email'].str.contains("@", na=False), "N/A", df['email'])
# Peter's code for the email questions ^

# 1). Import Pandas and read the customers.csv into a pandas dataframe

import pandas as pd
import numpy as np

customers = pd.read_csv('customers.csv')
customers

,id,full_name,email,city,phone,shirt size
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL
4,4,Marillin Lebrun,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL
...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS

In [73]:
# 2). Check to see if the "id" column is a unique identifier.

customers['id'].is_unique

False

In [74]:
# 3). Create a unique identifier column titled "customerID" and set this column as the index

customers['customerID'] = customers.index
customers = customers.set_index('customerID')
customers

,id,full_name,email,city,phone,shirt size
customerID,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL
4,4,Marillin Lebrun,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL
...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS

In [75]:
# 4) Drop the "id" column

customers.drop(['id'], axis = 1)

,full_name,email,city,phone,shirt size
customerID,,,,,
0,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small
1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium
2,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium
3,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL
4,Marillin Lebrun,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL
...,...,...,...,...,...
95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L
96,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL
97,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large
98,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL
99,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS

In [76]:
# 5). Parse the column "full_name" and create the columns first_name and last_name.

full_name = customers['full_name'].str.split(' ', n = 1, expand = True)
customers['first_name'] = full_name[0]
customers['last_name'] = full_name[1]
customers

,id,full_name,email,city,phone,shirt size,first_name,last_name
customerID,,,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small,Inger,Merrill
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium,Terrye,Yeates
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium,Amber,Haggerstone
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL,Dell,Brimner
4,4,Marillin Lebrun,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun
...,...,...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L,Torry,Dall
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL,Free,Hospital
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large,Jammal,Esterbrook
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL,Darby,Sentance
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS,Ki,Fancutt

In [77]:
# 6). Drop the full_name column

customers.drop(['full_name'], axis = 1)

,id,email,city,phone,shirt size,first_name,last_name
customerID,,,,,,,
0,1,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small,Inger,Merrill
1,1,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium,Terrye,Yeates
2,3,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium,Amber,Haggerstone
3,4,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL,Dell,Brimner
4,4,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun
...,...,...,...,...,...,...,...
95,95,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L,Torry,Dall
96,95,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL,Free,Hospital
97,98,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large,Jammal,Esterbrook
98,99,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL,Darby,Sentance
99,100,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS,Ki,Fancutt

In [78]:
# 7.) Display all emails that are missing a '@'

customers[customers["email"].str.contains('@')==False]

,id,full_name,email,city,phone,shirt size,first_name,last_name
customerID,,,,,,,,
4,4,Marillin Lebrun,mlebrun4redditcom,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun
6,7,Guillema Jersh,gjersh6bloglovin.com,"North Las Vegas, NV 89036",702-413-6961,3XL,Guillema,Jersh
7,8,Vernice Blaskett,kpop43532,"Newport News, VA 23612",NaN,XL,Vernice,Blaskett
8,9,Zelda Tuiller,ztuiller8indiatimes.com,"Youngstown, OH 44505",330-164-6485,Small,Zelda,Tuiller
12,13,Corine Larrett,dogworld421,"Los Angeles, CA 90065",NaN,XS,Corine,Larrett
32,31,Wolfy Basden,newyorker3432,"Philadelphia, PA 19196",NaN,M,Wolfy,Basden
36,37,Charissa Orwin,samframingham,"Riverside, CA 92519",NaN,XS,Charissa,Orwin
72,73,Binni Stoaks,sdastore342,"Dallas, TX 75205",NaN,M,Binni,Stoaks
88,89,Newton Winterborne,gaming3432,"New York City, NY 10014",NaN,NaN,Newton,Winterborne
94,95,Felipa Leitche,redbull3234,"Cincinnati, OH 45271",NaN,M,Felipa,Leitche

In [79]:
# 8.) Replace all emails that are missing a "@" with "N/A".

customers['email'] = np.where(~customers['email'].str.contains("@", na=False), "N/A", customers['email'])
customers

,id,full_name,email,city,phone,shirt size,first_name,last_name
customerID,,,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small,Inger,Merrill
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium,Terrye,Yeates
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium,Amber,Haggerstone
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL,Dell,Brimner
4,4,Marillin Lebrun,N/A,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun
...,...,...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L,Torry,Dall
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL,Free,Hospital
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large,Jammal,Esterbrook
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL,Darby,Sentance
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS,Ki,Fancutt

In [80]:
# 9.) Parse the column "city" to create the columns "city", "state", and "zip"

customers[['City', 'State']] = customers['city'].str.split(',', 1, expand = True)
customers['Zip'] = customers['State'].str[-5:]
customers['State'] = customers['State'].astype(str).str[:-6]
customers

,id,full_name,email,city,phone,shirt size,first_name,last_name,City,State,Zip
customerID,,,,,,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small,Inger,Merrill,Louisville,KY,40225
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium,Terrye,Yeates,San Antonio,TX,78285
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium,Amber,Haggerstone,Phoenix,AZ,85005
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL,Dell,Brimner,Atlanta,GA,31132
4,4,Marillin Lebrun,N/A,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun,Dallas,TX,75372
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L,Torry,Dall,Lake Worth,FL,33467
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL,Free,Hospital,Seminole,FL,34642
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large,Jammal,Esterbrook,Philadelphia,PA,19136
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL,Darby,Sentance,Salt Lake City,UT,84199
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS,Ki,Fancutt,Albany,NY,12242

In [81]:
# 10.) Drop the original "city" column

customers.drop(['city'], axis = 1)

,id,full_name,email,phone,shirt size,first_name,last_name,City,State,Zip
customerID,,,,,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,502-592-3443,Small,Inger,Merrill,Louisville,KY,40225
1,1,Terrye Yeates,tyeates1@flavors.me,210-830-5613,Medium,Terrye,Yeates,San Antonio,TX,78285
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,602-437-5823,Medium,Amber,Haggerstone,Phoenix,AZ,85005
3,4,Dell Brimner,dbrimner3@alibaba.com,404-750-3102,2XL,Dell,Brimner,Atlanta,GA,31132
4,4,Marillin Lebrun,N/A,214-266-4982,3XL,Marillin,Lebrun,Dallas,TX,75372
...,...,...,...,...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,561-563-5936,L,Torry,Dall,Lake Worth,FL,33467
96,95,Free Hospital,fhospital2o@squarespace.com,941-595-5768,3XL,Free,Hospital,Seminole,FL,34642
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,215-382-6005,Large,Jammal,Esterbrook,Philadelphia,PA,19136
98,99,Darby Sentance,dsentance2q@shop-pro.jp,801-753-0017,XL,Darby,Sentance,Salt Lake City,UT,84199
99,100,Ki Fancutt,kfancutt2r@geocities.jp,518-313-0772,XS,Ki,Fancutt,Albany,NY,12242

In [82]:
# 11.) Rename the column "shirt size" to "shirt_size"

customers.rename({'shirt size': 'shirt_size'}, axis = 1, inplace = True)
customers

,id,full_name,email,city,phone,shirt_size,first_name,last_name,City,State,Zip
customerID,,,,,,,,,,,
0,1,Inger Merrill,imerrill0@tiny.cc,"Louisville, KY 40225",502-592-3443,Small,Inger,Merrill,Louisville,KY,40225
1,1,Terrye Yeates,tyeates1@flavors.me,"San Antonio, TX 78285",210-830-5613,Medium,Terrye,Yeates,San Antonio,TX,78285
2,3,Amber Haggerstone,ahaggerstone2@wikipedia.org,"Phoenix, AZ 85005",602-437-5823,Medium,Amber,Haggerstone,Phoenix,AZ,85005
3,4,Dell Brimner,dbrimner3@alibaba.com,"Atlanta, GA 31132",404-750-3102,2XL,Dell,Brimner,Atlanta,GA,31132
4,4,Marillin Lebrun,N/A,"Dallas, TX 75372",214-266-4982,3XL,Marillin,Lebrun,Dallas,TX,75372
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Torry Dall,tdall2n@berkeley.edu,"Lake Worth, FL 33467",561-563-5936,L,Torry,Dall,Lake Worth,FL,33467
96,95,Free Hospital,fhospital2o@squarespace.com,"Seminole, FL 34642",941-595-5768,3XL,Free,Hospital,Seminole,FL,34642
97,98,Jammal Esterbrook,jesterbrook2p@wp.com,"Philadelphia, PA 19136",215-382-6005,Large,Jammal,Esterbrook,Philadelphia,PA,19136
98,99,Darby Sentance,dsentance2q@shop-pro.jp,"Salt Lake City, UT 84199",801-753-0017,XL,Darby,Sentance,Salt Lake City,UT,84199
99,100,Ki Fancutt,kfancutt2r@geocities.jp,"Albany, NY 12242",518-313-0772,XS,Ki,Fancutt,Albany,NY,12242