In [9]:
import numpy as np

# 1). Create a one dimensional array of the 5 movies you like.

movies_i_like = np.array(['The Two Towers', 'Fight Club', 'Seven Samurai', 'The Empire Strikes Back', 'Casablanca'])
print(movies_i_like)

['The Two Towers' 'Fight Club' 'Seven Samurai' 'The Empire Strikes Back'
 'Casablanca']

In [10]:
# 2) Create a 2 dimensional array containing the movies and one actor in the movie.

movies = np.array([['The Two Towers', 'Fight Club', 'Seven Samurai', 'The Empire Strikes Back', 'Casablanca'], 
                   ['Viggo Mortensen', 'Edward Norton', 'Toshiro Mifune', 'Mark Hamill', 'Ingrid Bergman']])
print(movies)

[['The Two Towers' 'Fight Club' 'Seven Samurai' 'The Empire Strikes Back'
  'Casablanca']
 ['Viggo Mortensen' 'Edward Norton' 'Toshiro Mifune' 'Mark Hamill'
  'Ingrid Bergman']]

In [11]:
# 3) Print out the second movie and it's associated actor.

print(movies[0,1])
print(movies[1,1])

Fight Club
Edward Norton

In [12]:
# 4). Create arrays with with the following values and add them up.

# [10, 20, 30]
# [50, 60, 70]
# [100, 120, 150]

a = np.array([10, 20, 30])
b = np.array([50, 60, 70])
c = np.array([100, 120, 150])

sum1 = a + b + c

print(sum1)

[160 200 250]

In [13]:
# 5) Transpose the movies and actors from the exercise one and two.

print(movies.transpose())

[['The Two Towers' 'Viggo Mortensen']
 ['Fight Club' 'Edward Norton']
 ['Seven Samurai' 'Toshiro Mifune']
 ['The Empire Strikes Back' 'Mark Hamill']
 ['Casablanca' 'Ingrid Bergman']]