In [1]:
# 1.) Download the cars.csv file under week 5

# 2.) Import the Pandas Python package into your Python environment using the following code: import pandas as pd

# 3.) Read the cars.csv into a pandas dataframe.

import pandas as pd

df = pd.read_csv('cars.csv')

df

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948
...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879

In [2]:
# 1).  Extract the first 5 rows of the dataframe

df.head()

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948

In [4]:
# 2). Extract the first 25 rows

df.head(25)

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948
5,6,Nappie,Kytley,nkytley5@jugem.jp,Cincinnati,Ohio,Lamborghini,Gallardo,2011,WVWAP7AN1EE229042
6,7,Alysa,Jopp,ajopp6@webeden.co.uk,Boise,Idaho,Spyker,C8,2005,WBABN53452P450093
7,8,Bruce,Guillet,bguillet7@fema.gov,Tallahassee,Florida,Land Rover,Range Rover Sport,2007,1FMEU3DE6AU441345
8,9,Annabella,Yurov,ayurov8@ed.gov,Prescott,Arizona,Land Rover,Defender,1993,WBAVT73518F106735
9,10,Shane,Lemar,slemar9@hubpages.com,Des Moines,Iowa,Hyundai,Azera,2006,1GTN1TEX8CZ146236
10,11,Irene,Domenico,idomenicoa@flavors.me,Washington,District of Columbia,Suzuki,Swift,1997,WBSWL93568P548528
11,12,Richy,Clausius,rclausiusb@toplist.cz,Greensboro,North Carolina,Toyota,Tundra,2001,JN1AY1AR2DM444501
12,13,Terrel,Obin,tobinc@mapquest.com,Charlotte,North Carolina,Nissan,Sentra,1993,1D7RB1GT2BS183387
13,14,Pyotr,MacHostie,pmachostied@infoseek.co.jp,Sacramento,California,Toyota,Avalon,2006,WBABD33456P771225
14,15,Isiahi,Worviell,iworvielle@bloomberg.com,Daytona Beach,Florida,Oldsmobile,Silhouette,2004,WAUMF78K99N721171
15,16,Sherill,Kern,skernf@weebly.com,Salt Lake City,Utah,Lamborghini,Murciélago,2009,1G6KF54941U294626
16,17,Demott,Dollman,ddollmang@fda.gov,Monticello,Minnesota,Mazda,Protege,2001,JTHBL1EFXE5721115
17,18,Oswell,Pratton,oprattonh@t.co,Trenton,New Jersey,Pontiac,Bonneville,1996,2C4RDGBG0DR217056
18,19,Karim,Kerby,NaN,Buffalo,New York,Chevrolet,Camaro,1997,JN1AV7AP9FM056436
19,20,Rachelle,Limbert,rlimbertj@tamu.edu,Atlanta,Georgia,Chevrolet,Express 3500,2009,3D4PG9FG3BT516235
20,21,Dav,Maffucci,dmaffuccik@marketwatch.com,Ocala,Florida,Aston Martin,DBS,2010,1N6AD0CU6BC409464
21,22,Sauncho,Bluck,sbluckl@hostgator.com,Spartanburg,South Carolina,Mercedes-Benz,SL-Class,1987,1G4HA5EM4BU112428
22,23,Maris,Carlet,mcarletm@mediafire.com,El Paso,Texas,Ford,Bronco,1990,JN1CV6EK6FM204639
23,24,Tatiania,Ruxton,truxtonn@sitemeter.com,Pittsburgh,Pennsylvania,Pontiac,Grand Prix,1980,1VWAH7A34EC273878
24,25,Joel,Coppenhall,NaN,Lynchburg,Virginia,Dodge,Grand Caravan,1994,WVWAA7AH9BV957554

In [6]:
# 3). Extract the last 5 rows of the dataframe

df.tail()

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879

In [8]:
# 4.) Create a new column named 'full_name' by combining the first_name and last_name columns

df['full_name'] = df['first_name'] + ' ' + df['last_name']
df

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin,full_name
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659,Elsey MacEnelly
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159,Web Balmann
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846,Abey Bernardet
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814,Adler McGillecole
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948,Ola Sparry
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412,Ethelbert Escott
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432,Yvon Dugall
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740,Onfre Life
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045,Vivianne Grishukhin
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879,Lisha Blackburne

In [9]:
# 5.) Rename the 'car_vin' column to 'vin_number'

df.rename(columns = {'car_vin': 'vin_number'}, inplace = True)
df

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,vin_number,full_name
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659,Elsey MacEnelly
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159,Web Balmann
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846,Abey Bernardet
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814,Adler McGillecole
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948,Ola Sparry
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412,Ethelbert Escott
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432,Yvon Dugall
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740,Onfre Life
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045,Vivianne Grishukhin
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879,Lisha Blackburne

In [14]:
# 6). Find how many non null values are in each column

df.notnull().sum(axis = 0)

id                1000
first_name        1000
last_name         1000
email              881
city              1000
state             1000
car_make          1000
car_model         1000
car_model_year    1000
vin_number        1000
full_name         1000
dtype: int64

In [12]:
# 7.) Clone the dataframe and rename your new dataframe 'df2'

df2 = df.copy()
df2

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,vin_number,full_name
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659,Elsey MacEnelly
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159,Web Balmann
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846,Abey Bernardet
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814,Adler McGillecole
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948,Ola Sparry
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412,Ethelbert Escott
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432,Yvon Dugall
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740,Onfre Life
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045,Vivianne Grishukhin
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879,Lisha Blackburne

In [13]:
# 8.) Remove all missing values in df2

df3 = df2.dropna()

df3

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,vin_number,full_name
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659,Elsey MacEnelly
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159,Web Balmann
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814,Adler McGillecole
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948,Ola Sparry
5,6,Nappie,Kytley,nkytley5@jugem.jp,Cincinnati,Ohio,Lamborghini,Gallardo,2011,WVWAP7AN1EE229042,Nappie Kytley
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412,Ethelbert Escott
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432,Yvon Dugall
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740,Onfre Life
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045,Vivianne Grishukhin
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879,Lisha Blackburne