In [3]:
# 1). Import Pandas, Numpy and read cars.csv into a pandas dataframe

import pandas as pd
import numpy as np
df = pd.read_csv('cars.csv')
df

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948
...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879

In [12]:
# 2). Return a count of how many times each car manufacturer appears in the data. 
# Order your results in descending order. 

df_cars_by_manufacturer = df.groupby(['car_make'])['car_vin'].count().sort_values(ascending = False)
df_cars_by_manufacturer

car_make
Ford             85
Chevrolet        84
Toyota           53
Dodge            51
GMC              45
Mazda            43
Mercedes-Benz    43
Pontiac          38
Volkswagen       36
Mitsubishi       35
Nissan           35
Audi             33
Honda            29
Buick            26
BMW              23
Porsche          20
Subaru           19
Suzuki           19
Lexus            18
Lincoln          16
Volvo            16
Hyundai          15
Acura            15
Land Rover       14
Jeep             14
Mercury          13
Kia              13
Oldsmobile       12
Cadillac         11
Infiniti         11
Jaguar           10
Isuzu            10
Saturn            9
Bentley           8
Saab              8
Lamborghini       8
Chrysler          7
Lotus             6
Maserati          6
Aston Martin      5
Plymouth          5
Eagle             5
Scion             4
MINI              3
Geo               3
Alfa Romeo        3
Fiat              2
Spyker            2
Hummer            2
Panoz             1
Ferrari           1
Daewoo            1
Citroën           1
Rambler           1
Rolls-Royce       1
Foose             1
Studebaker        1
Holden            1
Name: car_vin, dtype: int64

In [11]:
# 3). Return a count of how many cars are in each state. Order your results in descending order.

df_cars_by_state = df.groupby(['state'])['car_vin'].count().sort_values(ascending = False)
df_cars_by_state

state
California              121
Texas                   107
Florida                  87
New York                 58
Virginia                 39
District of Columbia     32
Pennsylvania             30
Ohio                     29
Georgia                  29
Missouri                 29
Colorado                 26
Indiana                  23
Tennessee                20
North Carolina           20
Arizona                  19
Illinois                 19
Minnesota                19
Nevada                   18
Kansas                   18
Louisiana                18
Massachusetts            17
Michigan                 17
Washington               17
Maryland                 16
Oklahoma                 15
Iowa                     13
New Jersey               13
Kentucky                 12
South Carolina           11
Nebraska                 11
Connecticut              11
Wisconsin                11
Utah                      9
Alabama                   9
Oregon                    8
New Mexico                7
West Virginia             7
Hawaii                    6
Mississippi               6
Alaska                    4
Idaho                     4
Delaware                  4
Arkansas                  4
South Dakota              3
North Dakota              1
New Hampshire             1
Montana                   1
Maine                     1
Name: car_vin, dtype: int64

In [9]:
# 4). Filter the dataframe to show only cars made by Lexus where the model is ES

df2 = df[(df['car_make'] == 'Lexus') & (df['car_model'] == 'ES')]
df2

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846
158,159,Freeland,Mival,fmival4e@psu.edu,Modesto,California,Lexus,ES,2002,19XFB4F2XDE921997
335,336,Sharla,Willmetts,swillmetts9b@techcrunch.com,New Haven,Connecticut,Lexus,ES,1993,WAUVFAFR2DA683946
749,750,Sandy,Berresford,sberresfordkt@si.edu,Miami,Florida,Lexus,ES,1998,KNAFK4A69E5320780
934,935,Gunther,Aimable,gaimablepy@surveymonkey.com,Las Cruces,New Mexico,Lexus,ES,1999,WAUHFAFL6DA744837

In [10]:
# 5). Filter the dataframe to show only fords made after the year 2000 in the state of California

df3 = df[(df['car_make'] == 'Ford') & (df['car_model_year'] > 2000)]
df3

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
31,32,Jeniffer,Godman,jgodmanv@rakuten.co.jp,Omaha,Nebraska,Ford,Focus ST,2013,2C3CCABG1EH819336
68,69,Antonino,Cacacie,acacacie1w@rediff.com,Montgomery,Alabama,Ford,F-Series,2003,WAUBFAFL9CA977258
91,92,Teddy,Stockport,tstockport2j@issuu.com,Bridgeport,Connecticut,Ford,Ranger,2005,WBA3G7C59FK574292
92,93,Darbee,Klaaassen,dklaaassen2k@va.gov,Charleston,West Virginia,Ford,F350,2009,JN1CV6EK0BM964575
104,105,Christoffer,Donnachie,cdonnachie2w@weather.com,Saint Paul,Minnesota,Ford,Edge,2007,WAUKH98E77A912955
107,108,Sharla,Children,NaN,Pompano Beach,Florida,Ford,E350,2009,1G6DL5E30C0763183
181,182,Nancee,Pettecrew,npettecrew51@un.org,Bradenton,Florida,Ford,Econoline E250,2002,2G4GW5EVXB9983658
197,198,Karlyn,Josefsohn,kjosefsohn5h@cdbaby.com,Las Vegas,Nevada,Ford,Focus,2009,4USCN33402L977178
216,217,Rennie,Penwarden,rpenwarden60@stumbleupon.com,Carson City,Nevada,Ford,Crown Victoria,2001,3GYFNKE68BS533367
223,224,Evy,Webberley,ewebberley67@networkadvertising.org,Denver,Colorado,Ford,E150,2006,19VDE3F71EE419331
233,234,Massimiliano,Jersh,NaN,Fort Worth,Texas,Ford,Escape,2012,WAUJC58E04A749063
255,256,Lynda,Bamsey,lbamsey73@instagram.com,Chicago,Illinois,Ford,E250,2010,1G6KF57921U486851
262,263,Karoly,Kield,kkield7a@cnbc.com,Petaluma,California,Ford,Expedition,2008,WBA3C1C56DK365517
274,275,Brett,Yven,byven7m@google.com.au,Tampa,Florida,Ford,Taurus,2010,1GYS3FEJXDR937650
275,276,Loree,Lorrain,llorrain7n@shop-pro.jp,El Paso,Texas,Ford,F350,2012,1G4PP5SK1C4494254
298,299,Sydel,Bister,sbister8a@bluehost.com,Norfolk,Virginia,Ford,Fusion,2012,1GKKRNED8EJ538300
309,310,Osbourne,Heggie,oheggie8l@icq.com,Kansas City,Missouri,Ford,Mustang,2011,3D73M3CL5AG310236
356,357,Fraze,Crellim,fcrellim9w@usda.gov,Longview,Texas,Ford,Excursion,2003,WAUHFBFL2CN191374
375,376,Sandi,Adshad,sadshadaf@sbwire.com,San Jose,California,Ford,Flex,2011,1GD02ZCG7DZ394472
419,420,Christy,Scrogges,cscroggesbn@kickstarter.com,Mountain View,California,Ford,Taurus,2006,WBA3B1G54EN581461
567,568,Florry,Mougeot,fmougeotfr@goodreads.com,Denver,Colorado,Ford,Crown Victoria,2009,2C3CCAHG7CH845024
573,574,Corey,Vogele,cvogelefx@skype.com,New York City,New York,Ford,Ranger,2002,1G4HR54KX24825858
595,596,Norman,Melledy,NaN,Phoenix,Arizona,Ford,GT500,2007,JH4NA12644T367271
607,608,Kaye,Weale,kwealegv@wiley.com,Spokane,Washington,Ford,Taurus,2003,3VWKX7AJ3CM556211
654,655,Theo,Cleal,tcleali6@blogtalkradio.com,San Jose,California,Ford,F350,2012,1D4RE4GG8BC178732
668,669,Marius,Mustin,NaN,Philadelphia,Pennsylvania,Ford,F-Series,2011,1N6AF0LY5EN946798
799,800,Desdemona,Vaughn,NaN,Topeka,Kansas,Ford,Five Hundred,2006,WVGAV3AX9EW273568
926,927,Cobb,Pullan,cpullanpq@i2i.jp,Wilmington,Delaware,Ford,E250,2006,WBA3N3C55EF904094
960,961,Clayson,Beades,cbeadesqo@wikipedia.org,Pittsburgh,Pennsylvania,Ford,Explorer,2003,5N1AR2MM3FC803049
982,983,Brody,Strand,bstrandra@webmd.com,Stamford,Connecticut,Ford,Focus,2009,WBANA53545B886498
984,985,Beverley,Tytler,btytlerrc@nifty.com,Allentown,Pennsylvania,Ford,E-Series,2002,WVGAV7AX7CW862445
994,995,Augusta,Heynen,NaN,San Diego,California,Ford,Mustang,2004,WA1VGBFPXEA538136

In [17]:
# 6). Filter the dataframe to show Audi's or Porsche's in the state of Texas 
# where the model year is before the year 2000

df4 = df[((df['car_make'] == 'Audi') | (df['car_make'] == 'Porsche')) & (df['car_model_year'] < 2000) & (df['state'])]
df4

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin
61,62,Tera,Colebourn,tcolebourn1p@stanford.edu,Ocala,Florida,Porsche,Boxster,1999,WAUMF78P56A053464
203,204,Hayden,Boshere,hboshere5n@unc.edu,El Paso,Texas,Audi,S4,1994,NM0KS7DNXAT722963
348,349,Giffer,Dyde,gdyde9o@sogou.com,Boston,Massachusetts,Audi,100,1990,1FTWW3B50AE629603
424,425,Haze,Munt,hmuntbs@latimes.com,Phoenix,Arizona,Porsche,928,1989,WAU4GAFB5AN472112
455,456,Karina,Asple,kasplecn@shareasale.com,Rochester,New York,Audi,Cabriolet,1994,WBSDX9C52DJ579350
478,479,Susana,Gunner,sgunnerda@skyrock.com,New Orleans,Louisiana,Audi,80,1991,WDDEJ7EB9BA219080
499,500,Brandice,Dono,bdonodv@pcworld.com,Fort Worth,Texas,Audi,A4,1997,WDDHF2EB2BA266260
531,532,Marchelle,Menere,mmenereer@reuters.com,Brooksville,Florida,Audi,90,1993,WAUDFBFC9CN722505
598,599,Ophelia,Woodhall,owoodhallgm@usa.gov,Santa Barbara,California,Porsche,911,1989,1VWAH7A32DC249447
623,624,Ansel,Freund,afreundhb@biglobe.ne.jp,Las Vegas,Nevada,Porsche,928,1985,1N4AL3AP3DC714286
635,636,Rosie,Odeson,rodesonhn@xing.com,New York City,New York,Audi,4000s Quattro,1986,19VDE2E59DE601321
641,642,Ede,Killingback,ekillingbackht@who.int,Pueblo,Colorado,Audi,S6,1995,1GKKRNED7FJ595007
649,650,Tandie,Hindsberg,thindsbergi1@si.edu,Charlotte,North Carolina,Porsche,968,1992,JTHBL5EF3A5777088
652,653,Dorey,O'Bruen,dobrueni4@e-recht24.de,Johnstown,Pennsylvania,Porsche,968,1995,1D7RB1CT7BS398298
754,755,Hobey,McIan,hmcianky@trellian.com,Little Rock,Arkansas,Audi,90,1990,1N6AA0CC8EN400161
772,773,Teodor,Cowpertwait,tcowpertwaitlg@nifty.com,Kalamazoo,Michigan,Audi,4000CS Quattro,1986,3VW517AT7FM726123
777,778,Emlynne,Roxbrough,eroxbroughll@soup.io,Saint Louis,Missouri,Audi,5000S,1984,WAUVT68E43A282252
783,784,Staford,Lewton,slewtonlr@wired.com,Pittsburgh,Pennsylvania,Audi,5000S,1987,2C3CDXJG0FH180806
807,808,Alameda,Iliffe,ailiffemf@360.cn,Houston,Texas,Porsche,Boxster,1997,WAUKD98P77A000145
822,823,Jacinta,Jaze,jjazemu@canalblog.com,New Orleans,Louisiana,Porsche,911,1995,5TDDCRFH4FS337321
899,900,Tiffani,Napoleone,tnapoleoneoz@businessweek.com,Dallas,Texas,Audi,80,1989,1G4HP52K234675447
915,916,Vinnie,Simonelli,vsimonellipf@cornell.edu,Orange,California,Porsche,968,1993,JTDBT4K36B4249798
942,943,Trixie,Vidler,tvidlerq6@cnn.com,Wilmington,Delaware,Audi,90,1989,JN1AZ4EH9BM135265
948,949,Giralda,Sabatier,gsabatierqc@slideshare.net,Bismarck,North Dakota,Audi,4000s,1986,5J6TF2H54FL866695
958,959,Diane,Stoltz,dstoltzqm@nifty.com,Fort Worth,Texas,Porsche,968,1994,WAUDK78T68A768703
966,967,Darbie,Gayforth,dgayforthqu@bloomberg.com,Washington,District of Columbia,Porsche,944,1990,2C3CDZBT6FH407035
972,973,Isabelita,Orehead,NaN,Harrisburg,Pennsylvania,Audi,80,1989,1G6DG5EY5B0807984

In [20]:
# 7). Create a column named "classic car". If the model year is 2001 or before then put  a "yes"  in the column, 
# for all other cars put a "no" in this column.

import numpy as np

df['classic car']  = np.where(df['car_model_year'] <= 2001, 'yes', 'no')
df

,id,first_name,last_name,email,city,state,car_make,car_model,car_model_year,car_vin,classic car
0,1,Elsey,MacEnelly,emacenelly0@storify.com,Baton Rouge,Louisiana,Pontiac,Sunfire,2005,JN1AV7ARXFM870659,no
1,2,Web,Balmann,wbalmann1@un.org,Oklahoma City,Oklahoma,Hyundai,Accent,1998,4F2CY0C79BK404159,yes
2,3,Abey,Bernardet,NaN,Lakeland,Florida,Lexus,ES,1993,SCFFDAAE1CG604846,yes
3,4,Adler,McGillecole,amcgillecole3@google.ru,Bethesda,Maryland,Buick,Rendezvous,2002,WAUVF78K39A869814,no
4,5,Ola,Sparry,osparry4@usgs.gov,Spokane,Washington,Nissan,Frontier,2001,1N6AA0CJ5DN998948,yes
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ethelbert,Escott,eescottrn@harvard.edu,Detroit,Michigan,Chevrolet,Monte Carlo,1999,1N6AA0CC8DN240412,yes
996,997,Yvon,Dugall,ydugallro@istockphoto.com,Palatine,Illinois,GMC,Sonoma,2000,WAUJC68E24A901432,yes
997,998,Onfre,Life,oliferp@weather.com,Chicago,Illinois,Volkswagen,Jetta,1995,WAUDT48H05K333740,yes
998,999,Vivianne,Grishukhin,vgrishukhinrq@wordpress.com,Worcester,Massachusetts,Kia,Rio,2007,WAUBFAFL6AA707045,no
999,1000,Lisha,Blackburne,lblackburnerr@skyrock.com,Detroit,Michigan,Audi,S4,2013,SCFAD22343K508879,no